@use "../abstracts" as *;

.btn {
  --btn-color: #{primary(2)};
  --btn-hover: #{accent(2)};
  display: inline-block;
  background-color: var(--btn-color);
  color: neutral(1);
  padding: size(3) size(5);
  border: calc(0.5 * size(1)) solid var(--btn-color);
  border-radius: 50vh;
  box-shadow: 0 size(1) size(2) calc(-1 * size(1)) var(--btn-color);
  // font-weight: 600;
  text-transform: capitalize;
  white-space: nowrap;
  cursor: pointer;
  &:is(:hover, :focus) {
    color: var(--btn-hover);
    // mix-blend-mode: multiply;
  }

  &--accent {
    --btn-color: #{accent(2)};
    --btn-hover: #{primary(2)};
  }

  &--neutral {
    background-color: transparent;
    border-color: primary(3);
    color: primary(3);
    &:is(:hover, :focus) {
      color: accent(2);
    }
  }
}
