$colors: (
  primary: (
    1: hsl(232, 67%, 75%),
    2: hsl(232, 67%, 55%),
    3: hsl(232, 67%, 5%),
  ),
  neutral: (
    1: hsl(245, 100%, 95%),
    2: hsl(245, 51%, 46%),
    3: hsl(245, 100%, 11%),
  ),
  accent: (
    1: hsl(46, 100%, 70%),
    2: hsl(46, 100%, 60%),
    3: hsl(46, 100%, 50%),
  ),
);
